* {
  font-family: "Press Start 2P";
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url(../imgs/cielo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  cursor: url("../imgs/Martillo.png"), auto;
}

#informacionJuego {
  margin: auto;
  height: 5vh;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 50px;
}

#botones {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

#reiniciar {
  visibility: hidden;
  text-align: center;
}

.boton {
  margin: 50px auto auto auto;
  display: block;
  background-color: green;
  color: whitesmoke;
  border: none;
  padding: 10px;
  border-radius: 8px;
  animation: aparecer 3s 1 linear forwards;
  animation-delay: 2s;
  opacity: 0;
  text-decoration: none;
  font-size: 16px;
}

.boton:hover {
  opacity: 80%;
}

#tiempo {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 20%;
  height: 50px;
  background-color: whitesmoke;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 1s ease-in;
  animation: parpadeo 1s linear infinite;
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.juego {
  height: 65vh;
  width: 100%;
  display: grid;
  grid-template-rows: 30% 30% 30%;
  grid-template-columns: 20% 20% 20%;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.agujero {
  margin: auto;
  background: url("../imgs/hoyo.png") bottom center no-repeat;
  background-size: contain;
  opacity: 0;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation: aparecer 3s 1 linear forwards;
  animation-delay: 2s;
}

@keyframes aparecer {
  to {
    opacity: 100;
  }
}

.agujero:active {
  cursor: url("../imgs/MartilloGolpe.png"), auto;
}

#cesped {
  position: absolute;
  top: 80vh;
  height: 90vh;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imgs/cesped.png);
  animation: subirCesped 2s 1 linear forwards;
}

@keyframes subirCesped {
  from {
    top: 80vh;
  }

  to {
    top: 20vh;
  }
}

#topoMoviendose {
  z-index: 99;
  position: relative;
  left: -100px;
  top: 3vh;
  height: 100px;
  width: 100px;
  animation: moverse 4s infinite linear, saltitos 0.3s linear infinite both;
  animation-delay: 2s;
  transform: scaleX(-1);
}

#elemento {
  position: relative;
  top: -10px;
  height: 100px;
  width: 100px;
  z-index: 99;
  animation: salir 0.3s linear, volver 0.6s 1s linear;
}

@keyframes salir {
  from {
    top: 5%;
    opacity: 0;
  }

  to {
    bottom: 0%;
  }
}

@keyframes volver {
  from {
    bottom: 0%;
  }

  to {
    top: 5%;
    opacity: 0;
  }
}

@keyframes moverse {
  from {
    left: -100px;
  }

  to {
    left: 90%;
  }
}

@keyframes saltitos {
  0% {
    transform: translate(0) scaleX(-1);
  }

  20% {
    transform: translate(-2px, 2px) scaleX(-1);
  }

  40% {
    transform: translate(-2px, -2px) scaleX(-1);
  }

  60% {
    transform: translate(2px, 2px) scaleX(-1);
  }

  80% {
    transform: translate(2px, -2px) scaleX(-1);
  }

  100% {
    transform: translate(0) scaleX(-1);
  }
}

@media screen and (max-width: 630px) {
  #informacionJuego {
    margin-top: 5%;
    gap: 4%;
    font-size: 0.9em;
  }
  #botones {
    gap: 5%;
  }
  .boton {
    margin-top: 10%;
    font-size: 10px;
  }

  #reiniciar {
    width: 100px;
    overflow: hidden;
  }

  #cesped {
    height: 90vh;
    width: 102%;
  }

  .agujero {
    width: 100px;
    height: 75px;
  }
  #elemento {
    width: 75px;
    height: 75px;
  }

  #tiempo {
    width: 60%
  }

  .juego {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
