* {
    font-family: "Press Start 2P";
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/cielo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

h1 {
    margin-top: 5vh;
    font-size: 2em;
    animation: alternar 1s infinite;
}

@keyframes alternar {
    0% {
        color: red;
    }

    50% {
        color: white;
    }

    100% {
        color: red;
    }
}

#container {
    width: 95%;
    display: flex;
    justify-content: space-around;
    gap: 3vh;
}

.marcador {
    height: 50vh;
    width: 100%;
    border: 3px solid green;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    overflow: scroll;
}

#cesped {
    height: 20vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imgs/cesped.png);
}

#topoMoviendose {
    z-index: 99;
    position: relative;
    left: -800px;
    top: 3vh;
    height: 100px;
    width: 100px;
    animation: moverse 4s infinite linear,
        saltitos 0.3s linear infinite both;
    animation-delay: 2s;
    transform: scaleX(-1);
}

@keyframes moverse {
    from {
        left: -100%;
    }

    to {
        left: 100%;
    }
}

@keyframes saltitos {
    0% {
        transform: translate(0) scaleX(-1);
    }

    20% {
        transform: translate(-2px, 2px) scaleX(-1);
    }

    40% {
        transform: translate(-2px, -2px) scaleX(-1);
    }

    60% {
        transform: translate(2px, 2px) scaleX(-1);
    }

    80% {
        transform: translate(2px, -2px) scaleX(-1);
    }

    100% {
        transform: translate(0) scaleX(-1);
    }
}

h3 span {
    color: red;
}

#jugador {
    border-bottom: 1px solid gainsboro;
    padding: 2.5px;
}

a {
    color: #fff;
    background-color: #4caf50;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 4px solid lightslategray;
    text-decoration: none;
    transition: background-color 0.3s;
}

a:hover {
    cursor: pointer;
    background-color: #44f814;
    text-align: center;
}

div {
    border-bottom: 1px solid gainsboro;
}

@media only screen and (max-width: 900px) {

    

    #container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .marcador {
        height: auto;
        width: 80%;
    }

}